body {
    background-color: #3fa796;
    color: #2a0944;
}


h1, h2 {
    color: #a10035;
}

img {
    border-radius: 30px;
}

hr {
    /*background-color: white;*/
    color: gainsboro;
    border-style: dotted none none none;
    height: 2px;
    width: 7%;
    border-spacing: 6px;
    border-width: 5px;
}