body {
    margin: 0;
    text-align: center;
    background-color: aquamarine;
    font-family: 'Merriweather', serif;
}

h1 {
    width: 20;
    margin: 150px auto 0 auto;
    /* font-family: Verdana; */
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
}

span {
    text-decoration: underline;
}

.arredondamento {
    border-radius: 100%;
}

.img-perfil {
    border-radius: 90%;
}

.top-cloud {
    position: absolute;
    right: 650px;
    top: 80px;
}

.bottom-cloud {
    position: absolute;
}

.middle-container {

}

.bottom-container {

}